<a href="https://colab.research.google.com/github/hanyeh00/machine-learning/blob/main/machine_learning1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gutenberg

In [ ]:
# -*- coding: utf-8 -*-
"""
Created on Sun Jan 28 20:02:44 2018

@author: jpmul
"""
import string
import markovify

from gutenberg.acquire import load_etext
from gutenberg.cleanup import strip_headers


# This is an unused function to generate the top N words
# Could use this to make a nice histogram
# Method based on Think Python exercise
def top_words(text, n):
        
    hist = dict()
    
    for line in text.split('\n'):
        line = line.replace('-', ' ')
    
        for word in line.split():
            word = word.strip(string.punctuation + string.whitespace)
            word = word.lower()
            hist[word] = hist.get(word, 0) + 1
            
    print("Total words:\t", sum(hist.values()))
    print("Unique words:\t", len(hist))
    
    t = []
    for key, value in hist.items():
        t.append((value, key))
    t.sort(reverse=True)
    for word, count in t[:n]:
        print(word, count)

# Here are some book IDs from Project Gutenberg
# Orthodoxy 130
# What's Wrong with the World 1717
# Heretics 470
# All Things Considered 11505
# Tremendous Trifles 8092
# Pride and Prejudice 1342
# Alice's Adventures in Wonderland 11
# Dracula 345        
# Moby Dick 2701
# Kama Sutra 27827        

#books = [27827]
books = [130, 1717, 470, 11505, 8092]
text = ''

print(f"Loading {len(books)} book(s) from Project Gutenberg...")
for book in books:
    text = text + strip_headers(load_etext(book)).strip()
    print(f"\tBook loaded. Total source text length is now {len(text)}")
#top_words(text, 10)

print("Done.\n")
print(len(text.split("\n")))


text_model = markovify.Text(text, state_size=3)
  

#for i in range(2):
#    print(text_model.make_sentence())

#print('-'*80)    

for i in range(10):

    tweet = text_model.make_short_sentence(140, max_overlap_ratio=0.70)
    if tweet is not None:
        print('-'*80)  
        print(tweet)

print('-'*80)

# learning algorithm
####linear regression
##cost function
![image.png]()

# gradient descent
The idea is to take repeated steps in the opposite direction of the gradient (or approximate gradient) of the function at the current point.
### Gradient descent is an optimization algorithm that minimizes a cost function (J).
### the goal of gradient decent is finding parameters(weights).

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
x = np.array([5, 15, 25, 35, 45, 55]).reshape((-1 ,1)) # one feature 6 samples
y = np.array([5, 20, 14, 32, 22, 38])
model = LinearRegression()
model.fit(x,y)
r_sq = model.score(x, y)
print(r_sq)
pr=model.predict([[5],[6],[7],[8]])
print(pr)

0.7158756137479542
[8.33333333 8.87333333 9.41333333 9.95333333]

In [ ]:
# manual impliment
import numpy as np
from sklearn.datasets import load_boston
from sklearn import preprocessing
x_train,x_test,y_train,y_test=sklearn.model_selection.train_test_split(x,y,test_size=0.1)
x_train.shape

(5, 1)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
#cost function
def cost_function(x, y, theta,h):
    m = len(x) # number of elements
    J = (1/(2*m))*np.sum(np.square(h - y))
    return J

def geradient_decent(lr,theta,x,y):
  m = len(y)
  jmin2=[]
  for i in range(10000000):
    h= x.dot(theta)
    jmin2.append(cost_function(x, y, theta,h))
    
    theta = theta - ((lr/m) *((np.dot(x.T, (h-y) )))) #gradient decent
  return  min(jmin2)

# define min max scaler
scaler = MinMaxScaler()
theta = np.zeros((1,5))
x_train=scaler.fit_transform(x_train)
#y_train=scaler.fit_transform(y_train)
geradient_decent(0.1,theta,x_train,y_train)

434.81851851851843

In [ ]:
input("write len message")

# inverse matrix

In [ ]:
A=[[3,4],[2,16]]

In [ ]:
import numpy as np
Ainv=np.linalg.inv(A)

In [ ]:
I=[[1,0],[0,1]]
np.linalg.solve(A,I) # inverse matrix

array([[ 0.4  , -0.1  ],
       [-0.05 ,  0.075]])

In [ ]:
Ainv

array([[ 0.4  , -0.1  ],
       [-0.05 ,  0.075]])

# transpose

In [ ]:
At=np.transpose(A)

In [ ]:
At.shape

(2, 2)

# multiple feature

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"hani00","key":"7e3cada1986d0dbb6a488fe267908458"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets download -d shree1992/housedata
%cd /content

Downloading housedata.zip to /content
  0% 0.00/432k [00:00<?, ?B/s]
100% 432k/432k [00:00<00:00, 59.7MB/s]
/content

In [ ]:
!unzip "/content/housedata.zip" -d "/content"

Archive:  /content/housedata.zip
  inflating: /content/data.csv
  inflating: /content/data.dat
  inflating: /content/output.csv

In [ ]:
import pandas as pd
data=pd.read_csv('data.csv')

In [ ]:
data.head()

                  date      price  bedrooms  ...       city  statezip  country
0  2014-05-02 00:00:00   313000.0       3.0  ...  Shoreline  WA 98133      USA
1  2014-05-02 00:00:00  2384000.0       5.0  ...    Seattle  WA 98119      USA
2  2014-05-02 00:00:00   342000.0       3.0  ...       Kent  WA 98042      USA
3  2014-05-02 00:00:00   420000.0       3.0  ...   Bellevue  WA 98008      USA
4  2014-05-02 00:00:00   550000.0       4.0  ...    Redmond  WA 98052      USA

[5 rows x 18 columns]

In [ ]:
data.describe()

              price     bedrooms  ...     yr_built  yr_renovated
count  4.600000e+03  4600.000000  ...  4600.000000   4600.000000
mean   5.519630e+05     3.400870  ...  1970.786304    808.608261
std    5.638347e+05     0.908848  ...    29.731848    979.414536
min    0.000000e+00     0.000000  ...  1900.000000      0.000000
25%    3.228750e+05     3.000000  ...  1951.000000      0.000000
50%    4.609435e+05     3.000000  ...  1976.000000      0.000000
75%    6.549625e+05     4.000000  ...  1997.000000   1999.000000
max    2.659000e+07     9.000000  ...  2014.000000   2014.000000

[8 rows x 13 columns]

# feature scaling

In [ ]:
real_y=[]
real_y.append(data["price"])

In [ ]:
from sklearn import preprocessing
"""digits = sklearn.datasets.load_digits()
X= digits.data
Y= digits.target
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3,train_size=0.7)"""
real_y.append(data["price"])
real_y = preprocessing.StandardScaler().fit(real_y)

In [ ]:
x.append(data["view"])

In [ ]:
x.append(data["bathrooms"])

In [ ]:
c=np.transpose(x)

In [ ]:
tetha=np.random.randn(4600, 2)

In [ ]:
tetha=np.transpose(tetha)

In [ ]:
y_pred=c.dot(tetha)

# cost function

In [ ]:
real_y.shape

In [ ]:
cost = -1/4600 * np.sum(real_y * np.log(c) + (1-real_y) * (np.log(1-c)))

# variable

In [ ]:
def define_globalvar():
  global y
  y=7
  print(y)
#define_globalvar()

print(y)

7

In [ ]:
x=10
y=10
z=20
x is y

True

In [ ]:
x is not z

True

#membership variable

In [ ]:
t=[1,2,3]
3 in t

True

In [ ]:
4 not in t

True

In [ ]:
first="marry"
last="brown"
print(f"hello my name is {first} and family is {last}")

hello my name is marry and family is brown

In [ ]:
for i in range(10):
  if i==5: #skip current iter
    continue
  print(i, end="")

012346789

In [ ]:
l=["apple","banana","cherry","peach"]
l.append("pineapple")
print(l)

['apple', 'banana', 'cherry', 'peach', 'pineapple']

In [ ]:
l.insert(0,"brinja")

In [ ]:
l.remove("peach")
l.pop()
print(l)

['brinja', 'apple', 'banana', 'cherry']

In [ ]:
lcopy=[1,2,3,"pen"]
print(lcopy)

[1, 2, 3, 'pen']

In [ ]:
l.reverse()
print(l)

['cherry', 'banana', 'apple', 'brinja']

In [ ]:
l.sort()

In [ ]:
c=[1,20]
lcopy.extend(c)

In [ ]:
print(lcopy)

['pen', 3, 2, 1, 1, 20]

In [ ]:
len(lcopy)
lcopy.index(1)

3

#tuple

In [ ]:
s=(1,2,3,4,5,6,7,8,9)
t=(34)
s.index(1)
len(s)

9

# dictionary
unordered collection of data value

In [ ]:
d={"brand":"ford","model":"Mustang","year":1997}

In [ ]:
d.get("model")

'Mustang'

In [ ]:
d["model"]

'Mustang'

In [ ]:
d["year"]=1964

In [ ]:
d["color"]=red

In [ ]:
Dict1={'dict1':{},'dict2':{}}
Dict = { 'Dict1': {'name': 'Ali', 'age': '30'},
         'Dict2': {'name': 'Hanieh', 'age': '32'}}

In [ ]:
Dict['Dict1']

{'age': '30', 'name': 'Ali'}

In [ ]:
Dict["Dict1"]["name"]

'Ali'

In [ ]:
Dict.pop("Dict1")

{'age': '30', 'name': 'Ali'}

In [ ]:
Dict

{'Dict2': {'age': '32', 'name': 'Hanieh'}}

In [ ]:
for name in Dict.items():
  print (name)

('Dict1', {'name': 'Ali', 'age': '30'})
('Dict2', {'name': 'Hanieh', 'age': '32'})

In [ ]:
for i,j in Dict.items():
  for name in j:
    print(j[name])

Ali
30
Hanieh
32

In [ ]:
s={"apple","pie","eggplant"}

In [ ]:
s.add("tomato")

In [ ]:
s

{'apple', 'eggplant', 'pie', 'tomato'}

In [ ]:
s.update({"cucamber","orange"}) # more than 2 items

In [ ]:
#s.discard("mango")
s.discard("pie")

In [ ]:
s={"apple","pie","eggplant","pie"}
s.union()
s

{'apple', 'eggplant', 'pie'}

In [ ]:
A={1,2,3,4}
B={6,2,5}
A & B

{2}

In [ ]:
A.intersection(B)

{2}

In [ ]:
A-B

{1, 3, 4}

In [ ]:
A ^ B

{1, 3, 4, 5, 6}

# stack LIFO
# Fifo

In [ ]:
from collections import deque
numbers=deque()
numbers.append(1)
numbers.append(2)
type(numbers)

collections.deque

# lambda

In [ ]:
# worst casetime complexity O
score=[50,55,60,70,75,80,99,100]
def score_o(x):
  if x>50:
    return True
  else:
    return False
passe=filter(score_o,score)
for i in passe:
  print(i)

In [ ]:
def percent(x):
  return x/5
k=map(percent, score)

In [ ]:
list(k)

[12.0, 14.0, 15.0, 16.0, 19.8, 20.0]

In [ ]:
l={num:num**2 for num in range(10)}
print(l)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
p=[i**2 for i in range(10) if i>5]

In [ ]:
print(p)

[36, 49, 64, 81]

#eval

In [ ]:
x=3
eval('x**2+x*3+1')

19

In [ ]:
class Person:
  def __init__(self,name,family):
    self.name=name
    self.family=family

p=Person("nikita","Brown")
p.name
del p
p.name

NameError: ignored

In [ ]:
class Student(Person):
  def __init__(self,name,family,age):
    super().__init__(name,family)
    self.age=age
s=Student("ali","solhi",20)

In [ ]:
s.name

'ali'

In [ ]:
import time
seconds = time.time()
x=12
y=16
print(x+y)
first=time.time()
print (first+seconds)

28
3258079820.4889183

In [ ]:
from datetime import date
date.today().month

8

# regular expression
meta char:
built in block for regular expression

In [6]:
import re

In [30]:
txt="there Hello world"

In [ ]:
re.search("[There]",txt) # A set of characters
re.search("^There",txt)  # Starts with
re.search("world$",txt)  # Ends with

In [17]:
f=re.findall("world",txt)
print(f)

['world', 'world']

In [25]:
x = re.split("\s", txt)
print(x)

['there', 'Hello', 'world']

In [27]:
x = re.sub("\s", ",", txt)
print(x)

there,Hello,world

In [34]:
x=re.search("\Athere",txt)
print(x)

<re.Match object; span=(0, 5), match='there'>

In [40]:
x=re.findall(r"\bwo",txt)
print(x)

['wo']

In [55]:
txt="the 3 third of July"
x=re.sub("\s","",txt)
z=re.findall("\D",x)
y=re.findall("\d",x)# show digit 
print(z,y,end=" ")

['t', 'h', 'e', 't', 'h', 'i', 'r', 'd', 'o', 'f', 'J', 'u', 'l', 'y'] ['3']

# find most repeated character

In [56]:

import re
Text="""This 10 modules are specified
at object creation time by using a type code, which is a single character."""
Text=re.sub("\s","",Text) # remove spaces
tlist=re.findall("\D",Text) # remove digits number and convert to list

x={} # def dict as I need key and value key is letter value tedad
for i in set(tlist): # i is unique
    x.update({i:tlist.count(i)}) # update x value in loop
v=sorted(x.items(), key=lambda d: d[1],reverse=True)#sort
print(v[0]) # print most repeated char

('e', 11)

In [29]:

txt = "The rain in Spain"
x = re.search("a", txt)
print(x.group())

a

In [ ]:

d=re.search("^T",txt) #Starts with
print(f"s start with {d}")

s start with <re.Match object; span=(0, 1), match='T'>

In [ ]:
f=re.search("n$",s)
print(f" f is end with n {f}")

 f is end with n <re.Match object; span=(5, 6), match='n'>

#numpy

In [57]:
import numpy as np
ar=np.array([1,2,3,4,5,6])

In [58]:
np.cos(ar)

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362,  0.28366219,
        0.96017029])

In [59]:
np.log(ar)

array([0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791,
       1.79175947])

In [61]:
np.median(ar)

3.5

In [62]:
np.mean(ar)

3.5

In [63]:
np.std(ar)

1.707825127659933

In [67]:
np.ones((5,2,3))

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

In [69]:
a=np.array([1.2,3.2,5.6,9.1])
b=np.round(a)
b

array([1., 3., 6., 9.])

In [74]:
c=np.linspace(0,10,5)
c=np.round(c,2)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

# panda

In [28]:
import pandas as pd
import numpy as np
from sklearn import datasets
data= datasets.load_iris()
#c=pd.read_csv(data)
timeseries=pd.date_range('1/9/2020',periods=30)

In [41]:
df=pd.DataFrame(np.random.randn(30,5),index=timeseries)

In [42]:
df.head()

                   0         1         2         3         4
2020-01-09 -0.204873  0.656293  1.065664  0.582068 -0.356229
2020-01-10 -1.379822  1.623496  1.868442 -0.547354 -0.344235
2020-01-11  1.642781 -0.713615 -0.516867 -1.135334  0.969807
2020-01-12  2.218630  1.178032  0.717944  0.362562 -0.012769
2020-01-13  0.214956 -0.783728 -0.672788 -2.009774 -0.827673

In [43]:
l=df[0]#colomn
k=l[3]# row
k

2.2186299053202654

In [44]:
df[::3]

                   0         1         2         3         4
2020-01-09 -0.204873  0.656293  1.065664  0.582068 -0.356229
2020-01-12  2.218630  1.178032  0.717944  0.362562 -0.012769
2020-01-15 -0.015819 -1.429535  1.460178 -0.816152  0.640839
2020-01-18  0.220047  0.258504 -0.078064 -1.303408  0.536591
2020-01-21  1.564967 -1.065176  0.832689 -0.383956  1.049746
2020-01-24 -0.634805 -1.574496 -1.706127 -0.016076  0.780854
2020-01-27 -1.189199 -0.343762 -0.015135 -0.053613  0.234728
2020-01-30 -0.804493 -1.668086  1.616271  0.906198 -0.454494
2020-02-02  0.803970 -1.914004  0.826992  1.352560  1.644904
2020-02-05 -1.512077 -1.619856 -0.358940  0.519907 -1.290761

In [45]:

timeseries=pd.date_range('1/9/2020',periods=20)

timeseries2=pd.date_range('9/1/2021',periods=20)

In [46]:
data1=pd.DataFrame(np.random.rand(20,5),index=timeseries,columns=["order_id","name",
                                                                  "profit","shipid","sales"])

In [47]:
data2=pd.DataFrame(np.random.rand(20,3),index=timeseries2,columns=["order_id","order_date","ID"])

In [73]:
for i in range(20):
  data1.loc["op_id"]=i

In [74]:
data1['op_id']

2020-01-09 00:00:00    59
2020-01-10 00:00:00    59
2020-01-11 00:00:00    59
2020-01-12 00:00:00    59
2020-01-13 00:00:00    59
2020-01-14 00:00:00    59
2020-01-15 00:00:00    59
2020-01-16 00:00:00    59
2020-01-17 00:00:00    59
2020-01-18 00:00:00    59
2020-01-19 00:00:00    59
2020-01-20 00:00:00    59
2020-01-21 00:00:00    59
2020-01-22 00:00:00    59
2020-01-23 00:00:00    59
2020-01-24 00:00:00    59
2020-01-25 00:00:00    59
2020-01-26 00:00:00    59
2020-01-27 00:00:00    59
2020-01-28 00:00:00    59
op_id                  19
Name: op_id, dtype: int64

In [62]:
d=np.zeros(60)
for i in range(60):
  d[i]=i
d

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
       52., 53., 54., 55., 56., 57., 58., 59.])

In [76]:
data1['New_ID'] = range(21)
data2['New_ID'] = range(20)

In [77]:
merging=pd.merge(data1,data2, on="New_ID")

In [78]:
merging.head()

   order_id_x      name    profit  ...  order_date        ID  op_id_y
0    0.829086  0.414767  0.359064  ...    0.311616  0.350900       59
1    0.608561  0.500733  0.136809  ...    0.226996  0.206651       59
2    0.706676  0.436974  0.280071  ...    0.990357  0.435717       59
3    0.907964  0.878812  0.603285  ...    0.036474  0.284522       59
4    0.967215  0.401988  0.440622  ...    0.353533  0.102613       59

[5 rows x 12 columns]

In [82]:
merging.iloc[1]

order_id_x     0.608561
name           0.500733
profit         0.136809
shipid         0.696423
sales          0.579013
op            59.000000
op_id_x       59.000000
New_ID         1.000000
order_id_y     0.447630
order_date     0.226996
ID             0.206651
op_id_y       59.000000
Name: 1, dtype: float64

In [83]:
merging.loc[1]

order_id_x     0.608561
name           0.500733
profit         0.136809
shipid         0.696423
sales          0.579013
op            59.000000
op_id_x       59.000000
New_ID         1.000000
order_id_y     0.447630
order_date     0.226996
ID             0.206651
op_id_y       59.000000
Name: 1, dtype: float64

In [87]:
def func1(x):
  return x/10
merging["profit"]=merging["profit"].map(func1)

In [89]:
def percent(x):
  return x/100
merging["op_id_x"]=merging["op_id_x"].map(percent)

In [93]:
merging[["op_id_x",'profit']].apply(percent)

    op_id_x  profit
0    0.0059   0.059
1    0.0059   0.059
2    0.0059   0.059
3    0.0059   0.059
4    0.0059   0.059
5    0.0059   0.059
6    0.0059   0.059
7    0.0059   0.059
8    0.0059   0.059
9    0.0059   0.059
10   0.0059   0.059
11   0.0059   0.059
12   0.0059   0.059
13   0.0059   0.059
14   0.0059   0.059
15   0.0059   0.059
16   0.0059   0.059
17   0.0059   0.059
18   0.0059   0.059
19   0.0059   0.059

In [94]:
merging.head()

   order_id_x      name  profit  ...  order_date        ID  op_id_y
0    0.829086  0.414767     5.9  ...    0.311616  0.350900       59
1    0.608561  0.500733     5.9  ...    0.226996  0.206651       59
2    0.706676  0.436974     5.9  ...    0.990357  0.435717       59
3    0.907964  0.878812     5.9  ...    0.036474  0.284522       59
4    0.967215  0.401988     5.9  ...    0.353533  0.102613       59

[5 rows x 12 columns]